@media only screen and (min-width: 600px) {
    body {
        background-color: #510465;
        color: #dceef6;
        font-family: "segoe ui", tahoma, Verdana, sans-serif;
    }
    img {
        height: 300px;
        width: auto;
        margin: 20px;
    }
}

@media only screen and (max-width: 599px) {
    body {
        background-color: #310379;
        color: #dceef6;
        font-family: "segoe ui", tahoma, Verdana, sans-serif;
    }
    img {
        height: auto;
        width: 100%;
        margin: 10px auto;
    }
}
p {
    color: #fac678;
}
span {
    font-size: 0.9em;
}
#container {
    position: relative;
    width: 84%;
    height: 100%;
    margin: 10px auto;
}
.identity {
    position: absolute;
    height: 100px;
    width: auto;
    top: 25px;
    left: 0;
    font-size: 1.2em;
}
.imgbox {
    position: absolute;
    margin: 0 auto;
    top: 220px;
}
.footie {
    margin: 70px auto 0;
    width: 50%;
    height: 100px;
    text-align: center;
}
